@import '../../../styles/variables.scss';

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: $senor-pink;
}

.innerWrapper {
  display: flex;
  flex-grow: 1;

  @media (max-width: 680px) {
    flex-direction: column;
  }
}

.leftContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 24px;
}

.rightContainer {
  flex: 2;
  padding: 24px;
}

.backButtonContainer {
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
}
