@import '../../../styles/variables.scss';

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
  color: #500008;
  background-color: $azure;
  border: 2px solid $marian-blue;
  border-radius: 12px;
  padding: 4px 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  font-family: 'Roboto-Bold', sans-serif;
}
