@import '../../../styles/variables';

.container {
  box-sizing: border-box;
  cursor: pointer;

  &__name {
    margin-left: 12px;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 18px;
  }
}

.innerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  padding: 8px;
  margin: 1px 8px 0;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);

  &:hover {
    background-color: $sky-blue;
  }

  &:hover .imageContainer {
    transform: scale(1.1);
  }

  &:hover &__name {
    color: white;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  transition: all .2s ease-in-out;
}
