@import './fonts.scss';
@import './variables.scss';

html, body, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  width: 100vw;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  background-color: $senor-pink;
  min-width: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
