html {
  margin-left: calc(100vw - 100%);
}

body {
  margin: 0;
  font-family: "Iceland", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
