$black: #000;
$yellow: #f9cc05;
$gold-dark: #f7b900;
$green: #9CFA4B;
$marian-blue: #424874;
$periwinkle: #DCD6F7;
$periwinkle-dark: #A6B1E1;
$french-grey: #CACFD6;
$azure: #D6E5E3;
$stroke-blue: #3668ad;
$sky-blue: #59b1f0;
$senor-pink: #fffae6;
$tomato: #ef5350;
