$black: #000;
$white: #fff;
$yellow: #f9cc05;
$gold-dark: #f7b900;
$green: #9cfa4b;
$marian-blue: #424874;
$periwinkle: #dcd6f7;
$periwinkle-dark: #a6b1e1;
$french-grey: #cacfd6;
$azure: #d6e5e3;
$stroke-blue: #3668ad;
$sky-blue: #59b1f0;
$senor-pink: #fffae6;
$tomato: #ef5350;

$padding: 8px;
