.container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-bottom: 1px solid #dadada;
  margin-bottom: 4px;

  &__item {
    display: flex;
    font-size: 14px;
    align-items: center;
    transition: all 0.15s ease-in-out;

    &:first-child {
      width: 100%;
      font-family: 'Roboto-Bold', 'sans-serif';

      @media (max-width: 400px) {
        padding-right: 8px;
      }
    }

    &:last-child {
      margin-left: auto;
      padding-left: 12px;
    }
  }
}

.statsWrapper {
  display: flex;
  width: 160px;
  padding-right: 12px;
}

.progressBarWrapper {
  display: flex;
  flex: 1;
}
