@import '../../../styles/variables.scss';

.modalContainer {
  background: $sky-blue;
  padding: 24px;
  border-radius: 12px;
}

.modalImage {
  width: 200px;
  height: 200px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  flex: 1;

  &:first-child {
    margin-right: 16px;
  }
}
