.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 320px;
  flex-direction: column;
  margin: 12px 0;
  overflow: hidden;
  flex-grow: 1;
  padding-top: 12px;
  padding-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
