@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.container {
  display: flex;
  position: relative;
  align-items: center;
  padding: 12px;
  overflow: hidden;
  background-color: $sky-blue;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.image {
  height: 50px;
  width: 50px;
  justify-self: flex-start;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
}

.text {
  margin: 0 auto;
  color: $yellow;
  font-family: "Pokemon-Solid", sans-serif;
  letter-spacing: 5px;
  font-size: 28px;
  user-select: none;

  @include stroke-text(3px, $stroke-blue);

  @media (max-width: 400px) {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .container {
    flex-direction: column;
  }

  .image {
    margin-bottom: 8px;
  }

  .text {
    font-size: 16px;
  }
}
