@import '../../../styles/variables.scss';

.container {
  display: flex;
  align-items: center;
  background-color: $senor-pink;
  position: relative;
}

input[type='text'] {
  width: calc(320px - #{$padding} * 2);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px 24px 8px 8px;
  color: $marian-blue;
  font-family: 'Roboto-Medium', sans-serif;
  border: 2px solid $periwinkle-dark;
  background-color: $azure;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

input[type='text']::placeholder {
  font-family: 'Roboto-Regular', sans-serif;
  color: $stroke-blue;
}

input[type='text']:focus, input[type='text']:active {
  outline:none;
  border-color: $sky-blue;
}

.error {
  margin-top: 8px;
  font-size: 12px;
  color: $tomato;
  font-family: 'Roboto-Italic', sans-serif;
}
